*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

img{
    width: 40px;
    cursor: pointer;
}

.medium{
    width: 20px;
}

.profile{
    width: 50px;
    border-radius: 50%;
}

body{
    display: flex;
}

hr{
    width: 80%;
    margin-left: 20px;
    border: 0.1px solid rgb(68, 68, 68, 0.2);
}

ul{
    list-style-type: none;
}

.left{
    background: rgb(203, 252, 255);
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 0px 0px 100px 0px;
    font-size: x-large;
    font-weight: 600;
}

.logo > img{
    width: 60px;
    margin-right: 10px;
}

.home{
    margin-bottom: 70px;
}

.home > div {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-size: large;
    font-weight: 600;
    margin: 10px 10px 15px 50px;
}

.home > div > img{
    width: 30px;
    margin-right: 10px;
}

.settings > div {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-size: large;
    font-weight: 600;
    margin: 10px 10px 15px 50px;
}

.settings > div > img{
    width: 30px;
    margin-right: 10px;
}

.right{
    display: flex;
    flex-direction: column;
}

header > ul{
    display: flex;
    align-items: center;
}

header > ul > li{
    margin-right: 50px;
}

li > h3{
    margin-left: -40px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 150px 20px 50px;
}

.search > img{
    width: 40px;
}

input{
    border: 3px solid rgb(92, 92, 92, 0.2);
    width: 500px;
    height: 30px;
    margin-left: 20px;
    border-radius: 50px;
    padding: 5px 12px;
}

header > section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dp{
    margin: 0px 50px 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp > img{
    margin-right: 10px;
}

.profile-buttons{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

button{
    width: 90px;
    height: 30px;
    margin-right: 50px;
    border: none;
    border-radius: 20px;
    color: white;
    background: rgb(96, 96, 253);
    cursor: pointer;
}


footer{
    background: rgb(210, 210, 210);
    padding: 20px;
    display: flex;
}

.cards-section{
    display: grid;
    grid-template-columns: 350px 350px ;
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 15px;
}

.card{
    padding: 20px;
    height: 130px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.95px 2.6px;
}

.card > p{
    margin: 10px 0px;
    font-size: smaller;
    font-weight: 400;
}

.card > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 10px 90px;
}

.card > ul > li{
    margin-left: 20px;
}

.bottom-left{
    height: 76vh;
}

.bottom-right{
    margin: 0px 15px;
}

.announcements > section{
    margin-top: 13px;
    padding: 5px 10px ;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.95px 2.6px;
}

.announcements > section > div{
    margin: 10px;
}

.announcements > section > hr{
    width: 270px;
    margin-left: 10px;
}

.announcements > section > div > p{
    font-size: smaller;
    font-weight: 400;
    margin: 5px;
}

.trending > section{
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 15px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.95px 2.6px;
}

.trending > section > div{
    display: flex;
    align-items: center;
    margin-bottom: 5px ;
}

.trending > section > div > img{
    margin-right: 15px;
}

.username{
    font-weight: 500;
    font-size: small;
}

.desc{
    font-size: small;
    font-weight: 400;
}
